{
  "extends": ["@ijsto", "next/core-web-vitals"],
  "rules": {
    "sort-keys": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-unknown-property": [
      2,
      {
        "ignore": ["jsx", "global"]
      }
    ]
  }
}
